<div class="main" id="content">
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav justify-content-between w-100 flex-wrap">
                    <li>
                        <h2 class="fw-bold">Giá khuyến mãi</h2>
                    </li>
                    @await Html.PartialAsync("~/Areas/ChuSanBong/Views/ThongTinChuSan/Index.cshtml")
                </ul>
            </div>
        </div>
    </nav>

    <main class="content px-3 py-3">
        <div class="container-fluid">
            <div>
                <div class="row justify-content-between mx-1 mb-4">
                    <div class="col-12 col-md-4">
                        <div class="align-items-center w-100">
                            <a class="btn btn-primary" asp-controller="DangThongTinSan" asp-action="Index">
                                Quản lý bài đăng
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto mt-2 mt-md-0">
                        <button type="button" class="btn btn-success w-100 w-md-auto" data-bs-toggle="modal"
                                data-bs-target="#themKhuyenMaiModal" data-bs-dismiss="modal">
                            Thêm giảm giá
                        </button>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead style="background: #0e2238;">
                                    <tr>
                                        <th scope="col" class="col-1">STT</th>
                                        <th scope="col" class="col-2">Giờ bắt đầu</th>
                                        <th scope="col" class="col-2">Giờ kết thúc</th>
                                        <th scope="col" class="col-2">Giảm giá</th>
                                        <th scope="col" class="col-2">Trạng Thái</th>
                                        <th scope="col" class="col-1"></th>
                                    </tr>
                                </thead>
                                <tbody id="tableChuongTrinhKhuyenMai">
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>7:00</td>
                                        <td>16:00</td>
                                        <td>25 %</td>
                                        <td>Đang áp dụng</td>
                                        <td class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-warning me-2" onclick="suaChuongTrinhKhuiyenMaiModal()">
                                                Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger" onclick="">Xóa</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>21:00</td>
                                        <td>23:00</td>
                                        <td>20 %</td>
                                        <td>Chưa áp dụng</td>
                                        <td class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-warning me-2" onclick="suaChuongTrinhKhuiyenMaiModal()">
                                                Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger" onclick="">Xóa</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Modal thêm -->
    <div class="modal fade" id="themKhuyenMaiModal" tabindex="-1" aria-labelledby="themKhuyenMaiModal" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xl-down">
            <div class="modal-content" style="border-radius: 20px;">
                <div class="modal-header d-flex justify-content-center text-center">
                    <div>
                        <h5 style="font-weight: bolder;">Thêm chương trình</h5>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mt-1">
                            <div class="col-6">
                                <div class="mb-1">
                                    <label for="openingTime" class="form-label fw-bold">Giờ mở cửa</label>
                                    <select class="form-select" id="openingTime" name="openingTime" required style="border-radius:10px">
                                        @for (int i = 0; i <= 24; i++)

                                        {
                                            <option value="@i">@i:00</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-1">
                                    <label for="EndTime" class="form-label fw-bold">Giờ mở cửa</label>
                                    <select class="form-select" id="openingTime" name="openingTime" required style="border-radius:10px">
                                        @for (int i = 0; i <= 24; i++)

                                        {
                                            <option value="@i">@i:00</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label class="mb-1 ms-1 label-modal">Giảm giá</label>
                                <input type="text" id="giamGia" class="form-control" placeholder="Nhập % giảm giá" style="border-radius:10px">
                                <span class="error text-danger" id="ErrorgiamGia"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Nút thêm -->
                    <div class="container mt-4">
                        <div class="row" style="justify-content: flex-end;">
                            <div class="col-12 d-flex justify-content-end" style="width: 160px;">
                                <button type="button" id="btnDongYKhuyenMai" class="btn btn-success w-100 w-md-auto"
                                        style="font-size: small;" onclick="">
                                    Đồng ý
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal sửa -->
    <div class="modal fade" id="suaKhuyenMaiModal" tabindex="-1" aria-labelledby="suaKhuyenMaiModal" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xl-down">
            <div class="modal-content" style="border-radius: 20px;">
                <div class="modal-header d-flex justify-content-center text-center">
                    <div>
                        <h5 style="font-weight: bolder;">Sửa chương trình</h5>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row mt-1">
                            <div class="col-6">
                                <div class="mb-1">
                                    <label for="openingTime" class="form-label fw-bold">Giờ mở cửa</label>
                                    <select class="form-select" id="openingTime" name="openingTime" required style="border-radius:10px">
                                        @for (int i = 0; i <= 24; i++)

                                        {
                                            <option value="@i">@i:00</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-1">
                                    <label for="EndTime" class="form-label fw-bold">Giờ mở cửa</label>
                                    <select class="form-select" id="openingTime" name="openingTime" required style="border-radius:10px">
                                        @for (int i = 0; i <= 24; i++)

                                        {
                                            <option value="@i">@i:00</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <label class="mb-1 ms-1 label-modal">Giảm giá</label>
                                <input type="text" id="giamGia" class="form-control" placeholder="Nhập % giảm giá" style="border-radius:10px">
                                <span class="error text-danger" id="ErrorgiamGia"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Nút thêm -->
                    <div class="container mt-4">
                        <div class="row" style="justify-content: flex-end;">
                            <div class="col-12 d-flex justify-content-end" style="width: 160px;">
                                <button type="button" id="btnDongYKhuyenMai" class="btn btn-success w-100 w-md-auto"
                                        style="font-size: small;" onclick="">
                                    Đồng ý
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Nhúng flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr(".ngayKhuyenMai", {
        dateFormat: "d-m-Y",
        minDate: "today"
    });
</script>
