<div class="main" id="contentThanhToan">
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav justify-content-between" style="width: 1380px;">
                <li>
                    <h2 style="font-weight: bolder;">Thanh Toán</h2>
                </li>
                @if (ViewBag.KhuyenMai == true)
                {
                    <li>
                        <div class="px-3 py-2 d-flex align-items-center flex-nowrap overflow-hidden"
                             style="
                         background-color: #b30000;
                         border: 1px solid #800000;
                         border-radius: 8px;
                         color: yellow;">

                            <!-- Tên KM -->
                            <span class="fw-bold text-truncate me-4" style="max-width: 800px;">
                                @ViewBag.TenKhuyenMai
                            </span>

                            <!-- Phần trăm giảm giá -->
                            <span class="me-4 text-nowrap fw-bold">
                                Giảm giá: <span>@ViewBag.MucGiam</span>%
                            </span>

                            <!-- Thời gian KM -->
                            <span class="text-nowrap fw-bold">
                                Thời gian: @ViewBag.NgayBd.ToString("dd/MM/yyyy")
                                &ndash; @ViewBag.NgayKt.ToString("dd/MM/yyyy")
                            </span>
                        </div>
                    </li>
                }
                @await Html.PartialAsync("~/Areas/ChuSanBong/Views/ThongTinChuSan/Index.cshtml")
            </ul>
        </div>
    </nav>
    <main class="content px-3 py-3">
        <div class="container-fluid">
            <div>
                <div class="row justify-content-between">
                    <div class="col-md-3">
                        <div class="input-group border rounded-2">
                            <span class="input-group-text bg-white border-0">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="text" class="form-control border-0" id="searchThanhToan" placeholder="Thông tin sân" style="border-radius: 10px; background-color: white;">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary" asp-controller="QuanLyDatSan" asp-action="Index">Quản lý đặt sân</a>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <table class="table">
                            <thead style="background: #0e2238;">
                                <tr>
                                    <th scope="col" class="col-1">STT</th>
                                    <th scope="col" class="col-2">Tên sân</th>
                                    <th scope="col" class="col-1">Loại sân</th>
                                    <th scope="col" class="col-2 text-center">Trạng thái</th>
                                    <th scope="col" class="col-3 text-center">Thanh toán</th>
                                    <th scope="col" class="col-2"></th>
                                </tr>
                            </thead>
                            <tbody id="danhSachSanThanhToan">
                                <!--Code js vao đây-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Modal cho nút chọn sân -->
<div class="modal fade" id="modalDatSanTrong">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px">
            <div class="modal-header d-flex justify-content-center">
                <div>
                    <h5 style="font-weight: bolder;">Thông tin đặt sân</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Họ tên:</span></h6>
                                        <input type="text" class="form-control" id="hotenDatSan" placeholder="Nhập họ và tên">
                                        <span class="error text-danger" id="hotenDatSanError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Số điện thoại:</span></h6>
                                        <input type="number" class="form-control" id="soDienThoaiDatSan" placeholder="Nhập số điện thoại">
                                        <span class="error text-danger" id="soDienThoaiDatSanError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Ngày nhận:</span></h6>
                                        <input type="text" class="form-control" id="ngayNhanDatSan" readonly>
                                        <span class="error text-danger" id="ngayNhanDatSanError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Khung giờ:</span></h6>
                                        <input type="text" class="form-control" id="khungGioDatSan" readonly>
                                        <span class="error text-danger" id="khungGioDatSanError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thời lượng</span></h6>
                                        <input type="text" class="form-control" id="thoiLuongDatSan" readonly>
                                        <span class="error text-danger" id="thoiLuongDatSanError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thanh toán:</span></h6>
                                        <input type="text" class="form-control" id="tongthanhToanDatSan" readonly>
                                        <span class="error text-danger" id="tongthanhToanDatSanError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3 mx-1">
                                    <h6 style="padding: 0px"><span style="font-weight: 600;">Yêu cầu:</span></h6>
                                    <textarea class="form-control" id="ghiChuDatSan" placeholder="Nhập yêu cầu thêm (nếu có)"></textarea>
                                </div>
                                <div class="row d-flex justify-content-end mt-4 mb-2 me-1">
                                    <button type="button" class="btn btn-success w-25" id="btnDatSanTrong">
                                        Đặt
                                        sân
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal xem thông tin  -->
<div class="modal fade" id="modalXemThongTin">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 20px">
            <div class="modal-header d-flex justify-content-center">
                <div>
                    <h5 style="font-weight: bolder;">Thông tin đặt sân</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-12 px-0">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Họ tên:</span></h6>
                                        <input type="text" class="form-control" id="hoTenDaDat" readonly>
                                        <span class="error text-danger" id="hoTenDaDatError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Số điện thoại:</span></h6>
                                        <input type="number" class="form-control" id="soDienThoaiDaDat" readonly>
                                        <span class="error text-danger" id="soDienThoaiDaDatError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Ngày nhận:</span></h6>
                                        <input type="text" class="form-control" id="ngayNhanDaDat" readonly>
                                        <span class="error text-danger" id="ngayNhanDaDatError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-4">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Giờ nhận:</span></h6>
                                        <input type="text" class="form-control" id="khungGioDaDat" readonly>
                                        <span class="error text-danger" id="khungGioDaDatError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thời lượng:</span></h6>
                                        <input type="text" class="form-control" id="thoiLuongDaDat" readonly>
                                        <span class="error text-danger" id="thoiLuongDaDatError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thanh toán:</span></h6>
                                        <input type="text" class="form-control" id="tongThanhToanDaDat" readonly>
                                        <span class="error text-danger" id="tongThanhToanDaDatError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3 mx-1">
                                    <h6 style="padding: 0px"><span style="font-weight: 600;">Yêu cầu:</span></h6>
                                    <textarea class="moTaDatSan form-control" id="yeuCauDaDat" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal thanh toan -->
<div class="modal fade" id="modalThanhToanSan">
    <div class="modal-dialog modal-lg" id="modalDatSanDialog">
        <div class="modal-content" style="border-radius: 20px" id="modalDatSanContent">
            <div class="modal-header d-flex justify-content-center">
                <div>
                    <h5 style="font-weight: bolder;">Thông tin đặt sân</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="container">
                                <div class="row mt-2">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Họ tên:</span></h6>
                                        <input type="text" class="form-control" id="hoTenTT" readonly>
                                        <span class="error text-danger" id="hoTenTTError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Số điện thoại:</span></h6>
                                        <input type="number" class="form-control" id="soDienThoaiTT" readonly>
                                        <span class="error text-danger" id="soDienThoaiTTError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Ngày nhận:</span></h6>
                                        <input type="text" class="form-control" id="ngayNhanTT" readonly>
                                        <span class="error text-danger" id="ngayNhanTTError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-4">
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Giờ nhận:</span></h6>
                                        <input type="text" class="form-control" id="khungGioTT" readonly>
                                        <span class="error text-danger" id="khungGioTTtError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thời lượng:</span></h6>
                                        <input type="text" class="form-control" id="thoiLuongTT" readonly>
                                        <span class="error text-danger" id="thoiLuongTTError"></span>
                                    </div>
                                    <div class="col-4">
                                        <h6><span style="font-weight: 600;">Thanh toán:</span></h6>
                                        <input type="text" class="form-control" id="tongThanhToanTT" readonly>
                                        <span class="error text-danger" id="tongThanhToanTTError"></span>
                                    </div>
                                </div>
                                <div class="row mt-3 mx-1">
                                    <h6 style="padding: 0px"><span style="font-weight: 600;">Yêu cầu:</span></h6>
                                    <textarea class="moTaDatSan form-control" id="yeuCauTT" readonly></textarea>
                                </div>
                                <div class="row d-flex justify-content-end mt-4 mb-2 me-1">
                                    <button type="button" class="btn btn-success w-25" id="btnThanhToanDatSan">
                                        Thanh Toán
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#myIDQLDS", {
        dateFormat: "d-m-Y",
        minDate: "today",
        onChange: function (selectedDates, dateStr, instance) {
            // Sau khi chọn ngày, cập nhật lại trạng thái của giờ nhận
            updateTimeOptionsForToday();
        }
    });
</script>
