<h1 class="text-center text-danger my-5" style="font-weight:700">Thanh toán thất bại</h1>
<!-- Phần gg map -->
<div class="container-fluid" style="background-color: white;">
    <div class="mx-5 py-4">
        <div class="row">
            <!-- Phần thông tin -->
            <div class="col-12 col-md-6">
                <div style="font-size: xX-large; font-weight: 700"> Kết nối với thế giới thể thao </div>
                <div class="container mt-4">
                    <ul class="nav nav-tabs" id="locationTabs" style="font-size: large; font-weight: 600;">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#cantho">Cần Thơ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#hochiminh">Hồ Chí Minh</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#kienggiang">Kiên Giang</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#soctrang">Sóc Trăng</a>
                        </li>
                    </ul>

                    <div class="tab-content pt-3" style="background-color: #FAFAFA;">
                        <div class="tab-pane fade show active px-3 pb-3" id="cantho">
                            <h5><b>Cần Thơ</b></h5>
                            <p class="size-gg">
                                <i class="fa-solid fa-map-location-dot me-2"></i> 197 Trần Bạch Đằng
                                - An Khánh - Ninh Kiều - Cần Thơ (<a href="#" class="text-danger">
                                    Google
                                    Map
                                </a>)
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-phone me-2"></i> Điện thoại: <span class="text-danger">0904.79.5885</span>
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-envelope me-2"></i> Mail: <a href="mailto:phamtan@thegioithethao.vn"
                                                                                   class="text-danger">huynhquocbao@gmail.com</a>
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-phone-volume me-2"></i> Hotline (Zalo): <span class="text-danger">0904.795.885</span>
                            </p>
                        </div>
                        <div class="tab-pane fade px-3 pb-3" id="hochiminh">
                            <h5><b>Hồ Chí Minh</b></h5>
                            <p class="size-gg">
                                <i class="fa-solid fa-map-location-dot me-2"></i> Địa chỉ Hồ Chí Minh
                                (<a href="#" class="text-danger">Google Map</a>)
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-phone me-2"></i> Điện thoại: <span class="text-danger">0123.45.6789</span>
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-envelope me-2"></i> Mail: <a href="mailto:hcm@thegioithethao.vn"
                                                                                   class="text-danger">hcm@thegioithethao.vn</a>
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-phone-volume me-2"></i> Hotline (Zalo): <span class="text-danger">0123.456.789</span>
                            </p>
                        </div>
                        <div class="tab-pane fade px-3 pb-3" id="kienggiang">
                            <h5><b>Kiên Giang</b></h5>
                            <p class="size-gg">
                                <i class="fa-solid fa-map-location-dot me-2"></i> Địa chỉ Kiên Giang (<a href="#" class="text-danger">Google Map</a>)
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-phone me-2"></i> Điện thoại: <span class="text-danger">0987.65.4321</span>
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-envelope me-2"></i> Mail: <a href="mailto:danang@thegioithethao.vn"
                                                                                   class="text-danger">danang@thegioithethao.vn</a>
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-phone-volume me-2"></i> Hotline (Zalo): <span class="text-danger">0987.654.321</span>
                            </p>
                        </div>
                        <div class="tab-pane fade px-3 pb-3" id="soctrang">
                            <h5><b>Sóc Trăng</b></h5>
                            <p class="size-gg">
                                <i class="fa-solid fa-map-location-dot me-2"></i> Địa chỉ Sóc Trăng
                                (<a href="#" class="text-danger">Google Map</a>)
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-phone me-2"></i> Điện thoại: <span class="text-danger">0912.34.5678</span>
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-envelope me-2"></i> Mail: <a href="mailto:haiduong@thegioithethao.vn"
                                                                                   class="text-danger">haiduong@thegioithethao.vn</a>
                            </p>
                            <p class="size-gg">
                                <i class="fa-solid fa-phone-volume me-2"></i> Hotline (Zalo): <span class="text-danger">0912.345.678</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Google Map -->
            <div class="col-12 col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.344990240496!2d105.74941417479414!3d10.038667390068717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a089a99a606f21%3A0xa73db9e3a500c454!2zU8OibiBCw7NuZyDEkOG6oWkgSOG7jWMgWSBExrDhu6Nj!5e1!3m2!1svi!2s!4v1741789239904!5m2!1svi!2s"
                        width="100%" height="350px" style="border:0;border-radius: 10px;" allowfullscreen=""
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>