<div class="main" id="content">
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="container-fluid">
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav justify-content-between w-100 flex-wrap">
                    <li>
                        <h2 class="fw-bold">Gói đã hết hạn! vui lòng gia hạn để tiếp tục sử dụng</h2>
                    </li>
                    @await Html.PartialAsync("~/Areas/ChuSanBong/Views/ThongTinChuSan/Index.cshtml")
                </ul>
            </div>
        </div>
    </nav>
</div>