<div class="main" id="content">
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav justify-content-between" style="width: 1380px;">
                <li>
                    <h2 style="font-weight: bolder;">Thống kê</h2>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                        <img src="images/account.png" class="avatar img-fluid" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded" style="width: 180px;">
                        <div class="row">
                            <h4 style="font-weight: 600; font-size: larger;" class="ms-2">
                                Huỳnh Quốc Bảo
                            </h4>
                        </div>
                        <div class="d-flex">
                            <a class="ms-2 cusor" style="color: red;">Đăng xuất</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main class="content px-3 py-3" style="background-color: #F6F6F6;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="p-2 bg-color">
                        <div class="pt-2 d-flex justify-content-center">
                            <h5 class="fw-bolder">Tổng doanh thu </h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5 style="color: blue;" id="TongGiaTriDatSan"> 30.000.000 VND </h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-2 bg-color">
                        <div class="pt-2 d-flex justify-content-center">
                            <h5 class="fw-bolder">Tổng hóa đơn </h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5 style="color: blue;" id="SoLuongHoaDon"> </h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-2 bg-color">
                        <div class="pt-2 d-flex justify-content-center">
                            <h5 class="fw-bolder"> Số sân </h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5 style="color: blue;" id="SoLuongSanThonKe"> </h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-2 bg-color">
                        <div class="pt-2 d-flex justify-content-center">
                            <h5 class="fw-bolder">Đánh giá </h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5 style="color: blue;" id="SoLuongDanhGia"> </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mt-3">
                    <div id="bieudoduong" style="width: 100%; height: 400px;"></div>
                </div>
                <div class="mt-3">
                    <div id="bieudocot" style="width: 100%; height: 400px;"></div>
                </div>
            </div>

        </div>
    </main>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="~/js/ThongKe.js"></script>
</div>