<div class="main" class="" id="content">
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav justify-content-between" style="width: 1380px;">
                <li>
                    <h2 style="font-weight: bolder;">Thống kê</h2>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                        <img src="images/account.png" class="avatar img-fluid" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded" style="width: 180px;">
                        <div class="row">
                            <h4 style="font-weight: 600; font-size: larger;" class="ms-2">
                                Huỳnh Quốc Bảo
                            </h4>
                        </div>
                        <div class="d-flex">
                            <a class="ms-2 cusor" style="color: red;">Đăng xuất</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main class="content px-3 py-3" style="background-color: #F6F6F6;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="p-2 bg-color">
                        <div class="pt-2 d-flex justify-content-center">
                            <h5 class="fw-bolder">Tổng doanh thu </h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5 style="color: blue;"> 30.000.000 VND </h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-2 bg-color">
                        <div class="pt-2 d-flex justify-content-center">
                            <h5 class="fw-bolder">Tổng hóa đơn </h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5 style="color: blue;"> 30 </h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-2 bg-color">
                        <div class="pt-2 d-flex justify-content-center">
                            <h5 class="fw-bolder"> Số sân </h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5 style="color: blue;"> 6 </h5>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-2 bg-color">
                        <div class="pt-2 d-flex justify-content-center">
                            <h5 class="fw-bolder">Đánh giá </h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5 style="color: blue;"> 41 </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mt-3">
                    <div id="bieudoduong" style="width: 100%; height: 400px;"></div>
                </div>
                <div class="mt-3">
                    <div id="bieudocot" style="width: 100%; height: 400px;"></div>
                </div>
            </div>

        </div>
    </main>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- Biểu đồ đường -->
    <script>
        Highcharts.chart('bieudoduong', {
            title: { text: 'Biểu đồ doanh thu của các sân' },
            xAxis: { categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] },
            yAxis: {
                title: { text: 'Temperature (°C)' }
            },
            series: [
                {
                    name: 'Tokyo',
                    data: [5, 7, 10, 14.5, 18, 22, 26, 27, 23, 18, 13, 8],
                    color: 'blue'
                },
                {
                    name: 'London',
                    data: [3, 4, 6, 8.5, 12, 15, 17, 16, 14, 10, 7, 4],
                    color: 'black'
                }
            ]
        });

    </script>

    <!-- Biểu đồ cột -->
    <script>
        Highcharts.chart('bieudocot', {
            chart: { type: 'column' },  // Loại biểu đồ cột
            title: { text: 'Biểu đồ doanh thu' },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                crosshair: true
            },
            yAxis: {
                title: { text: 'Temperature (°C)' }
            },
            tooltip: {
                shared: true,
                valueSuffix: '°C'
            },
            series: [
                {
                    name: 'Tokyo',
                    data: [5, 7, 10, 14.5, 18, 22, 26, 27, 23, 18, 13, 8],
                    color: 'blue'
                },
                {
                    name: 'London',
                    data: [3, 4, 6, 8.5, 12, 15, 17, 16, 14, 10, 7, 4],
                    color: 'black'
                }
            ]
        });

    </script>
</div>