<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <!-- FontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!-- Thêm CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Thông báo đẹp -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- Css -->
    <link rel="stylesheet" href="~/css/CssChuSan.css">
</head>

<body>
    <div class="wrapper">
        <div id="sidebar" class="expand">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">3TL FOOTBALL</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="QuanLySan" asp-action="Index">
                        <i class="lni lni-user"></i>
                        <span>Quản lý sân</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="QuanLyDatSan" asp-action="Index">
                        <i class="lni lni-agenda"></i>
                        <span>Quản lý đặt sân</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="DangThongTinSan" asp-action="Index">
                        <i class="lni lni-layout"></i>
                        <span>Đăng thông tin sân</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a  class="sidebar-link" asp-controller="QuanLyKhachHang" asp-action="Index">
                        <i class="lni lni-popup"></i>
                        <span>Quản lý khách hàng</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a  class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="lni lni-agenda"></i>
                        <span>Quản lý doanh thu</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="HoaDon" asp-action="Index">Hóa đơn</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="ThongKe" asp-action="Index">Thống kê</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        @RenderBody()
    </div>
     


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    

    <!-- javascipt boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- file javascript -->
    <script src="~/js/JsChuSan.js"></script>
    <script src="~/js/QuanLySan.js"></script>
    <script src="~/js/KhachHang.js"></script>
    <script src="~/js/HoaDon.js"></script>
    <script src="~/js/ThongTinBaiDang.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--Thông báo đẹp -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</body>

</html>
