
<body style="background-color: #F6F6F6;">
    <!-- Hiện thông báo -->
    <div id="toast-container"></div>
    <div class="container-fluid">
        <div class="mx-5 py-4">
            <!-- reponsive Phần Tên sân bóng + icon -->
            <div class="row">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h4 class="fw-bold mb-0" id="TenSanBong">
                        Sân bóng đá KAKA Sport khu đô thị Hòa Quý
                    </h4>
                    <div id="promoInfo" style="display: none; margin-bottom: 0;">
                        <!-- Nội dung khuyến mãi ở đây -->
                    </div>
                    <div>
                        <!-- Nội dung khuyến mãi ở đây -->
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-center flex-nowrap">
                    <img src="~/Img/map-pin.svg" alt=""
                         style="width: 24px; height: 27px;" />
                    <div class="ms-2" id="DiaChi" style="font-size: large; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        Quảng Nam, Phường Hòa Quý, Quận Ngũ Hành Sơn, Đà Nẵng
                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-md-end justify-content-start align-items-center flex-wrap mt-2 mt-md-0">
                    <div style="font-size: large;"> Đánh giá: </div>
                    <div class="ms-2" style="font-size: large;"><span id="averageRating1">5</span>/5</div>
                    <div class="ms-2">
                        <img src="~/Img/star-svgrepo-com.svg" alt="" style="width: 15px;height: 15px;">
                    </div>
                    <div class="ms-2" style="font-size: large;">(<span id="totalReviews3">1</span> đánh giá)</div>
                    <div class="d-flex ms-md-3 ms-0 mt-2 mt-md-0">
                        <img src="~/Img/bell.svg" alt="" class="ms-2" style="width: 22px; height: 22px;">
                        <img src="~/Img/heart.svg" alt="" class="ms-2" style="width: 22px; height: 22px;">
                        <img src="~/Img/alert-triangle.svg" alt="" class="ms-2" style="width: 22px; height: 22px;">
                    </div>
                </div>
            </div>
            <!-- Phần Hình ảnh + thông tin sân -->
            <div class="row">
                <div class="col-lg-8 col-md-12 mt-4">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div>
                                <img id="img1" src="" alt=""
                                     class="img-fluid w-100" style="height: 255px; object-fit: cover; border-radius: 10px;">
                            </div>
                            <div class="mt-3">
                                <img id="img2" src="" alt=""
                                     class="img-fluid w-100" style="height: 155px; object-fit: cover; border-radius: 10px;">
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12 mt-3 mt-md-0">
                            <div>
                                <img id="img3" src="" alt=""
                                     class="img-fluid w-100" style="height: 145px; object-fit: cover; border-radius: 10px;">
                            </div>
                            <div class="mt-3">
                                <img id="img4" src="" alt=""
                                     class="img-fluid w-100" style="height: 268px; object-fit: cover; border-radius: 10px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-4" style="border-radius: 10px; background-color: white;">
                    <div class="p-3">
                        <div class="Thongtinsan fs-4 fw-bold">Thông tin sân</div>
                        <div class="row mt-3">
                            <div class="col-6 fw-medium fw-bold">Giờ mở cửa: </div>
                            <div class="col-6 text-end fw-bold"> <span id="GioMoCua">6</span>h - <span id="GioDongCua">23</span>h</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 fw-medium fw-bold">Số sân thi đấu: </div>
                            <div class="col-6 text-end fw-bold"> <span id="SoSan">4</span> sân</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 fw-medium fw-bold">Giá sân: </div>
                            <div class="col-6 text-end fw-bold">Liên hệ</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 fw-medium fw-bold">Giá sân giờ vàng: </div>
                            <div class="col-6 text-end fw-bold">Liên hệ</div>
                        </div>
                        <div class="p-3 mt-3 bg-light rounded">
                            <div class="fw-bold">Dịch vụ tiện ích</div>
                            <div class="row mt-2 fw-medium">
                                <div class="col-6"><i class="fa-solid fa-wifi me-2"></i>Wifi</div>
                                <div class="col-6"><i class="fa-solid fa-car me-2"></i> Bãi đỗ xe</div>
                            </div>
                            <div class="row mt-2 fw-medium">
                                <div class="col-6"><i class="fa-solid fa-motorcycle me-2"></i>Bãi đỗ xe máy</div>
                                <div class="col-6"><i class="fa-solid fa-shop me-2"></i> Căn tin</div>
                            </div>
                            <div class="row mt-2 fw-medium">
                                <div class="col-6"><i class="fa-solid fa-mug-saucer me-2"></i>Trà đá</div>
                                <div class="col-6"><i class="fa-solid fa-utensils me-2"></i> Đồ ăn</div>
                            </div>
                            <div class="row mt-2 fw-medium">
                                <div class="col-6"><i class="fa-solid fa-truck-medical me-2"></i>Y tế</div>
                                <div class="col-6"><i class="fa-solid fa-building-shield me-2"></i>An ninh</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Phần đặt sân -->
            <div class="container-fluid">
                <div class="row">
                    <!-- Cột đặt sân -->
                    <div class="col-sm-12 col-md-6 col-lg-3 p-4 mt-4" style="background-color: white; border-radius: 10px;">
                        <div class="Thongtinsan" style="font-size: x-large; font-weight: 700;">
                            Đặt sân theo yêu cầu
                        </div>
                        <form method="POST" asp-area="Customer" asp-controller="Payment" asp-action="CreatePaymentUrlVnpay">
                            <input type="hidden" id="MaChuSan" name="MaChuSan" value="@Context.Request.Query["maChuSan"]" />
                            <div>
                                <input type="text" id="hoten" name="hoTenKH" class="form-control mt-4 p-2" style="border-radius: 10px;" placeholder="Họ và tên">
                                <span id="error-hoten" class="text-error text-danger"></span>
                            </div>
                            <div>
                                <input type="text" id="sdt" name="soDienThoaiKH" class="form-control mt-3 p-2" style="border-radius: 10px;" placeholder="Số điện thoại">
                                <span id="error-sdt" class="text-error text-danger"></span>
                            </div>
                            <div>
                                <input class="form-control p-2 mt-3" id="myID" style="border-radius: 10px; background-color: white;" placeholder="Ngày Nhận">
                                <span id="error-ngaynhan" class="text-error text-danger"></span>
                                <input type="hidden" name="NgayDat" id="hiddenNgayDat" />
                            </div>
                            <div>
                                <textarea id="moTa" name="GhiChu" class="form-control p-2 mt-3" style="border-radius: 10px; height: 80px;" placeholder="Nhập mô tả ở đây...">Không có</textarea>
                            </div>
                            <div>
                                <select id="timeSelect" class="form-select form-control mt-3" style="border-radius: 10px;" required>
                                    <option value="1">1 giờ</option>
                                    <option value="1.5">1.5 giờ</option>
                                </select>
                                <input type="hidden" name="ThoiLuong" id="thoiluong" />
                            </div>
                            <div>
                                <select class="form-select form-control mt-3" style="border-radius: 10px;" id="selectSan" required>
                                    <option value="0">Chưa có sân</option>
                                </select>
                                <input type="hidden" name="TenSan" id="hiddenTenSan" />
                                <input type="hidden" name="MaSan" id="hiddenMaSan" />
                            </div>
                            <div class="d-flex flex-wrap mt-2">
                                <div style="font-weight: 700; font-size: large;"> Giờ đặt: </div>
                                <div class="ms-2 fw-bold text-success" style="font-size: large;" id="time-value"></div>
                                <input type="hidden" name="GioDat" id="hiddenGioDat" />
                            </div>
                            <div class="d-flex flex-wrap mt-2">
                                <div style="font-weight: 700;font-size: large;"> Thanh toán:  </div>
                                <div class="ms-2 fw-bold text-success" style="font-size: large;" id="TongThanhToan"></div>
                                <input type="hidden" name="Amount" id="Amount" />
                            </div>
                            <script>
                                document.getElementById('timeSelect').addEventListener('change', function () {
                                    var selectedValue = this.value;

                                    if (selectedValue === "1" || selectedValue === "1.5") {
                                        // Reset select sân
                                        var selectSan = document.getElementById('selectSan');
                                        selectSan.innerHTML = '<option value="">Chưa có sân</option>';

                                        // Reset hidden inputs liên quan sân
                                        document.getElementById('hiddenTenSan').value = '';
                                        document.getElementById('hiddenMaSan').value = '';

                                        // Reset giờ đặt
                                        document.getElementById('time-value').textContent = '';
                                        document.getElementById('hiddenGioDat').value = '';

                                        // Reset tổng thanh toán
                                        document.getElementById('TongThanhToan').textContent = '';
                                        document.getElementById('Amount').value = '';
                                    }

                                    // Luôn luôn cập nhật hidden ThoiLuong aa
                                    document.getElementById('thoiluong').value = selectedValue;
                                });
                            </script>
                            <button id="btnDatSan" class="btn btn-success w-100 mt-3" style="height: 48px; border-radius: 10px;background-color: #0e2238;">Thanh toán VNPay</button>
                        </form>
                    </div>

                    <!-- Cột chọn giờ -->
                    <div class="col-sm-12 col-md-6 col-lg-9 mt-4">
                        <div class="row ms-3 p-3" style="background-color: white; border-radius: 10px;">
                            <!-- Phần đặt sân 1 giờ -->
                            <div class="row hour-section" id="oneHour">
                                <div class="row p-2 d-flex flex-wrap ">
                                    <div class="ms-2" style="width: 160px;">
                                        <div class="form-control" style="border-radius: 10px;height: 40px;" required>
                                            <option value="1">Sân 5</option>
                                        </div>
                                    </div>
                                    <div class="ms-2 button-hour">
                                        <div style="color: white;"> 1 giờ </div>
                                    </div>
                                </div>
                                <div class="row scroll-contents" id="khungGioContainer">
                                </div>
                            </div>

                            <!-- Phần đặt sân 1.5 giờ -->
                            <div class="row hour-section mt-3" id="onePointFiveHour">
                                <div class="row p-2 d-flex flex-wrap">
                                    <div class="ms-2" style="width: 160px;">
                                        <div class="form-control" style="border-radius: 10px;height: 40px;" required>
                                            <option value="1">Sân 5</option>
                                        </div>
                                    </div>
                                    <div class="ms-2 button-hour">
                                        <div style="color: white;"> 1.5 giờ </div>
                                    </div>
                                </div>
                                <div class="row scroll-contents" id="KhungGioDatle">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Đánh giá sân-->
    <section id="danhGiaSanBong">
        <div class="m-5 h-100" style="border-radius: 10px; background-color: #FFF;">
            <div class="text-center pt-3 pb-0">
                <h2>Đánh Giá Sân Bóng</h2>
            </div>
            <hr>
            <div class="container">
                <div class="row p-5 pt-2 pb-4">
                    <div class="col-lg-4 col-12 text-center">
                        <div>
                            <h3 class="text-warning"> <span id="averageRating"></span> / 5</h3>
                        </div>
                        <div class="star-rating2 mb-1">
                            <label for="star1"><i class="fas fa-star saoTrungBinh" data-value="1"></i></label>
                            <label for="star2"><i class="fas fa-star saoTrungBinh" data-value="2"></i></label>
                            <label for="star3"><i class="fas fa-star saoTrungBinh" data-value="3"></i></label>
                            <label for="star4"><i class="fas fa-star saoTrungBinh" data-value="4"></i></label>
                            <label for="star5"><i class="fas fa-star saoTrungBinh" data-value="5"></i></label>
                        </div>
                        <div class="mb-3">(<span id="totalReviews">100</span> đánh giá)</div>
                        <div>
                            <a class="btn bg-warning text-light" id="btnOpenModalDanhGia">Gửi Đánh Giá Của Bạn</a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-12 pt-4">
                        <div class="row">
                            <div class="col-md-2 col-6 pb-4">
                                <span class="p-2 d-block border bg-light thongKeDanhGia">
                                    Tất cả (<span id="totalReviews2">100</span>)
                                </span>
                            </div>
                            <div class="col-md-2 col-6 pb-4">
                                <span class="p-2 border d-block bg-light thongKeDanhGia">
                                    5 Sao
                                    (<span id="fiveStarCount">80</span>)
                                </span>
                            </div>
                            <div class="col-md-2 col-6 pb-4">
                                <span class="p-2 border d-block bg-light thongKeDanhGia">
                                    4 Sao
                                    (<span id="fourStarCount">10</span>)
                                </span>
                            </div>
                            <div class="col-md-2 col-6 pb-4">
                                <span class="p-2 border d-block bg-light thongKeDanhGia">
                                    3 Sao
                                    (<span id="threeStarCount">7</span>)
                                </span>
                            </div>
                            <div class="col-md-2 col-6 pb-4">
                                <span class="p-2 border d-block bg-light thongKeDanhGia">
                                    2 Sao (<span id="twoStarCount">2</span>)
                                </span>
                            </div>
                            <div class="col-md-2 col-6 pb-4">
                                <span class="p-2 border d-block bg-light thongKeDanhGia">
                                    1 Sao
                                    (<span id="oneStarCount">1</span>)
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-5">
                    <div class="mt-4 mb-4 scroll-contents-DanhGia" id="bodyDanhGia">
                    </div>
                </div>
            </div>
        </div>
        <!-- modal danh gia -->
        <div class="modal fade" id="modalDanhGia" tabindex="-1" aria-labelledby="modalDanhGia" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content p-3 pb-0">
                    <!-- Nội dung của modal -->
                    <!-- modal headder -->
                    <div class="modal-header d-flex justify-content-center">
                        <div>
                            <h5>Đánh Giá Sân Bóng <span>3TL</span></h5>
                        </div>
                        <button type="button" class="btn-close" onclick="clearDataAssessInput(), clearStarAssess(), resetError()"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="fullNameAssess" class="form-label">Họ Và Tên</label>
                            <input type="text" id="fullNameAssess" class="form-control Assess"
                                   placeholder="Nhập họ tên của bạn" aria-label="Full name" required>
                            <div id="fullNameError" class="text-danger" style="font-size: 0.875rem;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="PhoneNumberAssess" class="form-label">Số Điện Thoại</label>
                            <input type="tel" class="form-control Assess" id="PhoneNumberAssess"
                                   aria-describedby="phoneNumber" placeholder="Nhập số điện thoại đã đặt sân"
                                   pattern="[0-9]{10}" title="Số điện thoại gồm 10 chữ số" required>
                            <div id="phoneNumberError" class="text-danger" style="font-size: 0.875rem;"></div>
                        </div>
                        <div class="mb-3">
                            <label for="emailAssess" class="form-label">Email</label>
                            <input type="email"
                                   class="form-control Assess"
                                   id="emailAssess"
                                   aria-describedby="emailHelp"
                                   placeholder="Nhập email của bạn"
                                   required>
                            <div id="emailAssess" class="text-danger" style="font-size: 0.875rem;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="ContentAssess" class="form-label">Nội Dung Đánh Giá</label>
                            <textarea class="form-control Assess" id="ContentAssess" rows="3"
                                      placeholder="Nội dung đánh giá của bạn về sân bóng"></textarea>
                        </div>
                        <label for="" class="form-label">Đánh Giá Của Bạn Về Sân Bóng <span>3TL</span>:</label>
                        <div class="star-rating mb-3">
                            <input type="radio" class="star" id="star5" name="rating" value="5" required />
                            <label for="star5" title="5 stars"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star" id="star4" name="rating" value="4" />
                            <label for="star4" title="4 stars"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star" id="star3" name="rating" value="3" />
                            <label for="star3" title="3 stars"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star" id="star2" name="rating" value="2" />
                            <label for="star2" title="2 stars"><i class="fas fa-star"></i></label>
                            <input type="radio" class="star" id="star1" name="rating" value="1" />
                            <label for="star1" title="1 star"><i class="fas fa-star"></i></label>
                        </div>
                        <div id="starRatingError" class="text-danger" style="font-size: 0.875rem;"></div>
                    </div>
                    <!-- modal footer -->
                    <div class="modal-footer">
                        <a class="btn btn-warning text-light" onclick="submitAssessmentForm()">Gửi Đánh Giá</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Phần gg map -->
    <div class="container-fluid" style="background-color: white;">
        <div class="mx-5 py-4">
            <div class="row">
                <!-- Phần thông tin -->
                <div class="col-12 col-md-6">
                    <div style="font-size: xX-large; font-weight: 700"> Kết nối với thế giới thể thao </div>
                    <div class="container mt-4">
                        <ul class="nav nav-tabs" id="locationTabs" style="font-size: large; font-weight: 600;">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#cantho">Cần Thơ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#hochiminh">Hồ Chí Minh</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#kienggiang">Kiên Giang</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#soctrang">Sóc Trăng</a>
                            </li>
                        </ul>

                        <div class="tab-content pt-3" style="background-color: #FAFAFA;">
                            <div class="tab-pane fade show active px-3 pb-3" id="cantho">
                                <h5><b>Cần Thơ</b></h5>
                                <p class="size-gg">
                                    <i class="fa-solid fa-map-location-dot me-2"></i> 197 Trần Bạch Đằng
                                    - An Khánh - Ninh Kiều - Cần Thơ (<a href="#" class="text-danger">
                                        Google
                                        Map
                                    </a>)
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-phone me-2"></i> Điện thoại: <span class="text-danger">0904.79.5885</span>
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-envelope me-2"></i> Mail: <a href="mailto:phamtan@thegioithethao.vn"
                                                                                       class="text-danger">huynhquocbao@gmail.com</a>
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-phone-volume me-2"></i> Hotline (Zalo): <span class="text-danger">0904.795.885</span>
                                </p>
                            </div>
                            <div class="tab-pane fade px-3 pb-3" id="hochiminh">
                                <h5><b>Hồ Chí Minh</b></h5>
                                <p class="size-gg">
                                    <i class="fa-solid fa-map-location-dot me-2"></i> Địa chỉ Hồ Chí Minh
                                    (<a href="#" class="text-danger">Google Map</a>)
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-phone me-2"></i> Điện thoại: <span class="text-danger">0123.45.6789</span>
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-envelope me-2"></i> Mail: <a href="mailto:hcm@thegioithethao.vn"
                                                                                       class="text-danger">hcm@thegioithethao.vn</a>
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-phone-volume me-2"></i> Hotline (Zalo): <span class="text-danger">0123.456.789</span>
                                </p>
                            </div>
                            <div class="tab-pane fade px-3 pb-3" id="kienggiang">
                                <h5><b>Kiên Giang</b></h5>
                                <p class="size-gg">
                                    <i class="fa-solid fa-map-location-dot me-2"></i> Địa chỉ Kiên Giang (<a href="#" class="text-danger">Google Map</a>)
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-phone me-2"></i> Điện thoại: <span class="text-danger">0987.65.4321</span>
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-envelope me-2"></i> Mail: <a href="mailto:danang@thegioithethao.vn"
                                                                                       class="text-danger">danang@thegioithethao.vn</a>
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-phone-volume me-2"></i> Hotline (Zalo): <span class="text-danger">0987.654.321</span>
                                </p>
                            </div>
                            <div class="tab-pane fade px-3 pb-3" id="soctrang">
                                <h5><b>Sóc Trăng</b></h5>
                                <p class="size-gg">
                                    <i class="fa-solid fa-map-location-dot me-2"></i> Địa chỉ Sóc Trăng
                                    (<a href="#" class="text-danger">Google Map</a>)
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-phone me-2"></i> Điện thoại: <span class="text-danger">0912.34.5678</span>
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-envelope me-2"></i> Mail: <a href="mailto:haiduong@thegioithethao.vn"
                                                                                       class="text-danger">haiduong@thegioithethao.vn</a>
                                </p>
                                <p class="size-gg">
                                    <i class="fa-solid fa-phone-volume me-2"></i> Hotline (Zalo): <span class="text-danger">0912.345.678</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Google Map -->
                <div class="col-12 col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.344990240496!2d105.74941417479414!3d10.038667390068717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a089a99a606f21%3A0xa73db9e3a500c454!2zU8OibiBCw7NuZyDEkOG6oWkgSOG7jWMgWSBExrDhu6Nj!5e1!3m2!1svi!2s!4v1741789239904!5m2!1svi!2s"
                            width="100%" height="350px" style="border:0;border-radius: 10px;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal đăng nhập -->
    <div class="modal fade" id="modalDangNhap">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 10px;">
                <div class="modal-body">
                    <div class="text-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="resetDataLogin()"></button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h5 class="modal-title fw-bold">ĐĂNG NHẬP</h5>
                    </div>
                    <div class="p-3">
                        <div class="mt-3" id="boxDangNhap">
                            <input type="text" class="form-control border-1 border-dark" id="taiKhoanDangNhap"
                                   placeholder="Nhập tài khoản" style="border-radius: 10px; font-size: large;" />
                            <span id="taiKhoanDangNhapError" class="text-danger error-Login"
                                  style="font-size: 0.875rem;"></span>
                        </div>
                        <div class="mt-3">
                            <input type="password" class="form-control border-1 border-dark" id="matKhauDangNhap"
                                   placeholder="Nhập mật khẩu" style="border-radius: 10px; font-size: large;" />
                            <span id="matKhauDangNhapError" class="text-danger error-Login"
                                  style="font-size: 0.875rem;"></span>
                        </div>
                        <div class="text-danger mt-3">*Đăng nhập vào trang quản lý sân bóng!</div>
                        <button class="btn w-100 text-light mt-3" id="btnLogin" onclick="checkDataLogin()"
                                style="background-color: rgb(20, 34, 56); border-radius: 10px;">
                            Đăng Nhập
                        </button>
                        <div class=" text-center mt-3">
                            <span>
                                Bạn chưa có tài khoản? <a href="#" class="fw-medium text-decoration-none"
                                                          onclick="modalLogin(), modalSignUp()">
                                    Đăng ký
                                    tài khoản
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal đăng ký -->
    <div class="modal fade" id="modalDangKy">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="border-radius: 10px;">
                <div class="modal-body">
                    <div class="text-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                onclick="resetDataSignUp()"></button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h5 class="modal-title fw-bold">ĐĂNG KÝ</h5>
                    </div>
                    <div class="p-3">
                        <div class="row">
                            <div class="col-6 mt-3">
                                <input type="text" class="form-control border-1 border-dark" id="fullNameSignUp"
                                       placeholder="Nhập họ và tên" style="border-radius: 10px;" />
                                <span id="fullNameSignUpError" class="text-danger error-Login"
                                      style="font-size: 0.875rem;"></span>
                            </div>
                            <div class="col-6 mt-3">
                                <input type="text" class="form-control border-1 border-dark" id="phoneSignUp"
                                       placeholder="Nhập số điện thoại" style="border-radius: 10px;" />
                                <span id="phoneSignUpError" class="text-danger error-Login"
                                      style="font-size: 0.875rem;"></span>
                            </div>
                            <div class="col-6 mt-3">
                                <input type="email" class="form-control border-1 border-dark" id="emailSignUp"
                                       placeholder="Nhập Email" style="border-radius: 10px;" />
                                <span id="emailSignUpError" class="text-danger error-Login"
                                      style="font-size: 0.875rem;"></span>
                            </div>
                            <div class="col-6 mt-3">
                                <input type="email" class="form-control border-1 border-dark" id="sanBongNameSignUp"
                                       placeholder="Nhập tên sân bóng" style="border-radius: 10px;" />
                                <span id="sanBongNameSignUpError" class="text-danger error-Login"
                                      style="font-size: 0.875rem;"></span>
                            </div>
                            <div class="col-6 mt-3">
                                <input type="password" class="form-control border-1 border-dark" id="passWordSignUp"
                                       placeholder="Nhập mật khẩu" style="border-radius: 10px;" />
                                <span id="passWordSignUpError" class="text-danger error-Login"
                                      style="font-size: 0.875rem;"></span>
                            </div>
                            <div class="col-6 mt-3">
                                <input type="password" class="form-control border-1 border-dark" id="passWordSignUp2"
                                       placeholder="Xác nhận mật khẩu" style="border-radius: 10px;" />
                                <span id="passWordSignUp2Error" class="text-danger error-Login"
                                      style="font-size: 0.875rem;"></span>
                            </div>
                            <div class="col-6 mt-3 mb-2">
                                <select id="diaChiTinh" class="select2 form-select border-1 border-dark"
                                        style="border-radius: 10px;">
                                    <!-- code vao day -->
                                </select>
                                <span id="diaChiTinhError" class="text-danger error-Login"
                                      style="font-size: 0.875rem;"></span>
                            </div>
                            <div class="col-6 mt-3 mb-2">
                                <select id="diaChiHuyen" class="select2 form-select border-1 border-dark"
                                        style="border-radius: 10px;">
                                    <!-- code vao day -->
                                </select>
                                <span id="diaChiHuyenError" class="text-danger error-Login"
                                      style="font-size: 0.875rem;"></span>
                            </div>
                            <div class="col-6 mt-3 mb-2">
                                <select id="diaChiXa" class="select2 form-select border-1 border-dark"
                                        style="border-radius: 10px;">
                                    <!-- code vao day -->
                                </select>
                                <span id="diaChiXaError" class="text-danger error-Login"
                                      style="font-size: 0.875rem;"></span>
                            </div>
                            <div class="col-6 mt-3 mb-2">
                                <input type="text" class="form-control border-1 border-dark" id="diaChiCuThe"
                                       placeholder="Địa chỉ sân cụ thể (tên đường, số nhà)*"
                                       style="border-radius: 10px;" />
                                <span id="diaChiCuTheError" class="text-danger error-Login"
                                      style="font-size: 0.875rem;"></span>
                            </div>
                        </div>
                        <div class="text-danger mt-3">*Đăng ký tài khoản dành cho chủ sân bóng!</div>
                        <button class="btn w-100 text-light mt-3" id="btnSignUp" onclick="checkDataSignUp()"
                                style="background-color: rgb(20, 34, 56); border-radius: 10px;">
                            Đăng Ký
                        </button>
                        <div class="mt-3 text-center">
                            <span>
                                Bạn đã có tài khoản? <a id="chuyenHuong" href="#"
                                                        class="fw-medium text-decoration-none" onclick="modalLogin(), modalSignUp()">
                                    Đăng
                                    Nhập
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        <script src="~/js/JsKhachHang/DanhGia.js"></script>
        <script src="~/js/JsKhachHang/DatSan.js"></script>
    }
</body>

