<div class="main" id="content" style="background-color: #F6F6F6 ;">
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav justify-content-between" style="width: 1380px;">
                <li>
                    <h2 style="font-weight: bolder;">Đăng thông tin sân</h2>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                        <img src="~/Img/account.png" class="avatar img-fluid" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded" style="width: 180px;">
                        <div class="row">
                            <h4 style="font-weight: 600; font-size: larger;" class="ms-2">
                                @Context.Session.GetString("tenChuSan")
                            </h4>
                        </div>
                        <div class="d-flex">
                            <a class="ms-2 cusor" style="color: red;" href="/Customer/Account/Logout">Đăng xuất</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main class="content px-3 py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-12 mt-4">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <div class="bg-img">
                                <input type="file" id="file1" class="file-upload" accept="image/*" onchange="previewImage(event, 'img1')"
                                       hidden>
                                <label for="file1">
                                    <img id="img1" src="" alt="" class="img-fluid"
                                         style="width: 454px; height: 251px; object-fit: cover; border-radius: 10px; cursor: pointer;">
                                    <span id="maAnh1" style="display: none;"></span>
                                </label>
                            </div>
                            <div class="mt-3 bg-img">
                                <input type="file" id="file2" class="file-upload" accept="image/*" onchange="previewImage(event, 'img2')"
                                       hidden>
                                <label for="file2">
                                    <img id="img2" src="" alt="" class="img-fluid"
                                         style="width: 454px; height: 151px; object-fit: cover; border-radius: 10px; cursor: pointer;">
                                    <span id="maAnh2" style="display: none;"></span>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-12 mt-3 mt-md-0">
                            <div class="bg-img">
                                <input type="file" id="file3" class="file-upload" accept="image/*" onchange="previewImage(event, 'img3')"
                                       hidden>
                                <label for="file3">
                                    <img id="img3" src="" alt="" class="img-fluid"
                                         style="width: 318px;height: 140px; object-fit: cover; border-radius: 10px; cursor: pointer;">
                                    <span id="maAnh3" style="display: none;"></span>
                                </label>
                            </div>
                            <div class="mt-3 bg-img">
                                <input type="file" id="file4" class="file-upload" accept="image/*" onchange="previewImage(event, 'img4')"
                                       hidden>
                                <label for="file4">
                                    <img id="img4" src="" alt="" class="img-fluid"
                                         style="width: 318px; height: 263px; object-fit: cover; border-radius: 10px; cursor: pointer;">
                                    <span id="maAnh4" style="display: none;"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-4" style="border-radius: 10px; background-color: white;">
                    <div class="p-3">
                        <!-- Nút mở modal -->
                        <div class="d-flex justify-content-sm-between">
                            <div class="Thongtinsan fs-4 fw-bold">Thông tin sân</div>
                            <button type="button" class="btn btn-warning text-light"
                                    style="width: 150px; font-size: small;"
                                    id="btnSuaGioMoCua"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editTimeModal">
                                Thay đổi thời gian
                            </button>
                        </div>

                        <!-- Modal sửa thời gian -->
                        <div class="modal fade" id="editTimeModal" tabindex="-1" aria-labelledby="editTimeLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title fw-bold" id="editTimeLabel">Chỉnh sửa thời gian</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="editTimeForm">
                                            <div class="mb-3">
                                                <label for="openingTime" class="form-label fw-bold">Giờ mở cửa</label>
                                                <select class="form-select" id="openingTime" name="openingTime" required>
                                                    @for (int i = 0; i <= 24; i++)

                                                    {
                                                        <option value="@i">@i:00</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="closingTime" class="form-label fw-bold">Giờ đóng cửa</label>
                                                <select class="form-select" id="closingTime" name="closingTime" required>
                                                    @for (int i = 0; i <= 24; i++)

                                                    {
                                                        <option value="@i">@i:00</option>
                                                    }
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                        <button class="btn btn-primary" onclick="updateTime()">Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6 fw-medium fw-bold">Giờ mở cửa: </div>
                            <div class="col-6 text-end fw-bold"><span id="gioMoCuaBD"></span>h - <span id="gioDongCuaBD"></span>h</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 fw-medium fw-bold">Số sân thi đấu: </div>
                            <div class="col-6 text-end fw-bold"><span id="soLuongSanBD"></span> sân</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 fw-medium fw-bold">Giá sân: </div>
                            <div class="col-6 text-end fw-bold">Liên hệ</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 fw-medium fw-bold">Giá sân giờ vàng: </div>
                            <div class="col-6 text-end fw-bold">Liên hệ</div>
                        </div>
                        <div class="p-3 mt-3 bg-light rounded">
                            <div class="fw-bold">Dịch vụ tiện ích</div>
                            <div class="row mt-2 fw-medium">
                                <div class="col-6"><i class="fa-solid fa-wifi me-2"></i>Wifi</div>
                                <div class="col-6"><i class="fa-solid fa-car me-2"></i> Bãi đỗ xe</div>
                            </div>
                            <div class="row mt-2 fw-medium">
                                <div class="col-6"><i class="fa-solid fa-motorcycle me-2"></i>Bãi đỗ xe máy</div>
                                <div class="col-6"><i class="fa-solid fa-shop me-2"></i> Căn tin</div>
                            </div>
                            <div class="row mt-2 fw-medium">
                                <div class="col-6"><i class="fa-solid fa-mug-saucer me-2"></i>Trà đá</div>
                                <div class="col-6"><i class="fa-solid fa-utensils me-2"></i> Đồ ăn</div>
                            </div>
                            <div class="row mt-2 fw-medium">
                                <div class="col-6"><i class="fa-solid fa-truck-medical me-2"></i>Y tế</div>
                                <div class="col-6"><i class="fa-solid fa-building-shield me-2"></i>An ninh</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end pb-3">
                        <button type="button" class="btn btn-success" style="width: 150px; font-size: small;" id="BtnDongY" onclick="updateImages()" >Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        function previewImage(event, imgId) {
            const reader = new FileReader();
            reader.onload = function () {
                document.getElementById(imgId).src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }

    </script>
</div>